@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
  --primary: #1d2634;
  --secondary: #78716a;
  --black: #000000;
  --white: #ffffff;
  --ref: #8b939e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'Poppins', sans-serif;
}

#container {
  background-color: #1d2634;
  min-height: 100vh;
  padding: 0 20rem;
}

header {
  margin-bottom: 5rem;
  padding-top: 1rem;
  text-align: center;
}
header img {
  height: 1.5rem;
  width: 1.5rem;
}
.hero img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}

.hero p {
  color: var(--secondary);
}

.hero h1 {
  color: var(--white);
  font-size: 3rem;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

.social {
  margin-bottom: 5rem;
  display: flex;
}

.social-handle {
  margin-right: 1rem;
}
.social img {
  height: 2rem;
  width: 2rem;
}

.social-twitter {
  height: 1.8rem !important;
  width: 1.8rem !important;
}

.project-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.project {
  color: var(--white);
}
.project h2 {
  font-size: 2rem;
}
.project-card {
  height: 12rem;
  width: 19rem;
  background: linear-gradient(309.96deg, #2d3a4e 0%, #59596b 95.22%);
  margin-top: 2rem;
  border-radius: 0.5rem;
  padding-left: 2rem;
  padding-top: 0.75rem;
  margin-right: 1rem;
}

.project-card__logo {
  height: 4rem;
  width: 4rem;
}
.project-card h3 {
  margin-bottom: 0.5rem;
  color: #ececec;
}

.project-card p {
  color: #a79a9a;
}

.project-card__link {
  display: flex;
  justify-content: space-between;
}

.project-card__git img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 2.1rem;
  margin-top: 1rem;
}

.project-card_icons {
  display: flex;
  justify-content: space-between;
}

.project-card__link-img {
  margin-left: 13.5rem;
}
.project-card__link img {
  width: 1.5rem;
  height: 1.5rem;
}

.like {
  color: var(--white);
  margin-top: 7rem;
  padding-bottom: 3rem;
}
.like h2 {
  margin-bottom: 0.5rem;
  font-size: 2rem;
}
.like p {
  color: var(--secondary);
  margin-bottom: 1.75rem;
}
.like h3 {
  color: #a2a2af;
}
.like-container-1 {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.like-container__card {
  display: flex;
  align-items: center;
  background: #2d3a4e;
  padding: 1rem;
  width: 15rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  margin-right: 1rem;
}

.like-container__card img {
  height: 2rem;
  width: 2rem;
  margin-right: 0.5rem;
}

.footer {
  border-top: 1px solid rgb(83, 82, 82);
  color: var(--secondary);
  font-size: 0.75rem;
  font-weight: 300;
  padding: 5rem 0;
}

.footer img {
  height: 1.5rem;
  width: 1.5rem;
  padding-bottom: 0.5rem;
}

@media (max-width: 600px) {
  #container {
    padding: 0;
    overflow: hidden;
    padding-left: 3.5rem;
  }
  .project-container {
    display: flex;
    flex-direction: column;
  }
  header {
    padding-right: 2.8rem;
  }
  .like-container-1 {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  #container {
    padding: 0;
    overflow: hidden;
    padding-left: 5rem;
  }
  .project-container {
    display: grid;
    grid-template-columns: auto auto;
  }
  header {
    padding-right: 1.5rem;
  }
  .like-container-1 {
    display: grid;
    grid-template-columns: auto auto;
  }
}

@media (max-width: 300px) {
  #container {
    padding: 0;
    overflow: hidden;
    padding-left: 0.3rem;
  }
  .project-container {
    display: flex;
    flex-direction: column;
  }
  header {
    padding-right: 1.5rem;
  }
  .like-container-1 {
    display: flex;
    flex-direction: column;
  }
}
